<div id="busca" >
	<input type="text" placeholder="Digite um nome" ng-model="buscaProdutos" class="form-control">
</div>

<br />
<button ng-click="cadastrar = !cadastrar" class="btn btn-default">Cadastrar</button>
<br />
<br />
<div id="adicionar" ng-show="cadastrar">
	<input type="text" ng-model="produto.nome" placeholder="Nome do produto" />
	<input type="text" ng-model="produto.preco" placeholder="Preco do produto" />
<button ng-click="add()" class="btn btn-success">Cadastrar Produto</button>
</div>

<table width="100%" cellspacing="0" ng-table="tableParams" class="table table-hover" style="font-size: 18px;">
	<thead>
		<th>Produto</th>
		<th>Preço</th>
		<th>Data</th>
		<th>Editar</th>
		<th>Deletar</th>
		<th>Atualizar</th>
	</thead>
	<tbody>
		<tr>
        <td id="mensagem-status" style="display: none;text-align: center" colspan="6"></td>
		</tr>
	<tr ng-show="tr_edit">
		<td><input type="text" ng-model="produto_editar.tb_produtos_nome"/></td>
		<td><input type="text" ng-model="produto_editar.tb_produtos_preco"/></td>
		<td><button type="button" class="btn btn-success" ng-click="atualizar(produto_editar)">Atualizar</button>
			<button type="button" class="btn btn-danger"  ng-click="cancelar()">Cancelar</button></td>
	</tr>
		<tr ng-repeat="produto in $data | filter: buscaProdutos">
			<td>{{produto.tb_produtos_nome | capitalize}}</td>
			<td>{{produto.tb_produtos_preco | currency: "RS "}}</td>
			<td>{{produto.tb_produtos_data | date: "dd/MM/yyyy"}}</td>
			<td>
				<button type="button" class="btn btn-primary btn-lg" ng-click="edit(produto)">
					<span class="glyphicon glyphicon-pencil"></span> Editar
				</button>
			</td>
			<td>
				<button type="button" class="btn btn-danger btn-lg" ng-click="deletar(produto)">
					<span class="glyphicon glyphicon-remove-circle"></span> Deletar
				</button>
			</td>
			<td>
				<a type="button" class="btn btn-warning btn-lg" ng-href="#/produto/{{produto.id}}">
					<span class="glyphicon glyphicon-remove-circle"></span> Atualizar
				</a>
			</td>
		</tr>

	</tbody>
</table>
